AddCharset UTF-8 .html
DirectoryIndex frontend/build/index.html
RewriteEngine On
<FilesMatch "\.(html)$">
   Header set Cache-Control: "no-cache, no-store"
   Header unset ETag
</FilesMatch>
Header set X-Content-Type-Options nosniff
# DISABLE CACHING
<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>

# API-запити перенаправляємо в Yii2
RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^api/(.*)$ backend/web/index.php [L]

# Видаємо React build з папки frontend/build
# Спочатку обробляємо статичні ресурси
RewriteRule ^static/(.*)$ frontend/build/static/$1 [L]
# Якщо файл або директорія існує — віддаємо як є
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Все інше — віддаємо frontend/build/index.html
RewriteRule ^ frontend/build/index.html [L]
